{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/own-style.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <title>{% block title %}Base title{% endblock %}</title>
  </head>

  <body>

    <div class="container">
      <h3>Select the action you want to perform :</h3>
      <div class="panel panel-body">
        <fieldset>
          <input type="radio" name="group1" id="radio-form1" value="form1"> Insert new language<br>
          <input type="radio" name="group1" id="radio-form2" value="form2"> Insert new type<br>
          <input type="radio" name="group1" id="radio-form3" value="form3"> Insert new chapter<br>
          <input type="radio" name="group1" id="radio-form4" value="form4"> Update existing chapter</fieldset>
      </div>

      <!--div class="btn-group">

      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Action <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Insert new language</a></li>
        <li><a href="#">Insert new type</a></li>
        <li><a href="#">Insert new chapter</a></li>
        <li><a href="#">Update an existing chapter</a></li>
      </ul>
      </div-->

      <br /><br />


      <div id="form1" class="panel panel-default panel-form-perso forms-perso" style="display:none;">
        <div class="panel-heading">New language</div>
        <div class="panel-body">
          {% if sentLanguage %}
          <br /><span class="alert alert-success form-to-display">The language has been inserted correctly</span><br /><br /><br />
          {% endif %}
          {% if formLanguage.errors %}
          <br /><span class="alert alert-danger form-to-display">
            {% for field in formLanguage %}
            {{ field.errors|striptags }} <br />
            {% endfor %}
          </span><br />
          {% endif %}

          <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="language">Language</label>
              {% render_field formLanguage.nameLanguage id="language" class+="form-control" placeholder="Enter language" %}
            </div>
            <div class="form-group">
              <label for="iconLanguage">Icon</label>
              {% render_field formLanguage.icon id="iconLanguage" class+="form-control" placeholder="Enter icon name without extension" %}
            </div>    
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>
      </div>


      <div id="form2" class="panel panel-default panel-form-perso forms-perso" style="display:none;">
        <div class="panel-heading">New type</div>
        <div class="panel-body">

          {% if sentType %}<br /><span class="alert alert-success form-to-display">The type has been inserted correctly</span><br /><br />{% endif %}

          <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="typeLanguage">Language</label>
              {% render_field formType.typeLanguage id="typeLanguage" class+="form-control" %}
            </div>		  
            <div class="form-group">
              <label for="type">Type</label>
              {% render_field formType.nameType id="typeLanguage" class+="form-control" placeholder="Enter the type" %}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>
      </div>


      <div id="form3" class="panel panel-default panel-form-perso forms-perso" style="display:none;" >
        <div class="panel-heading">New chapter</div>
        <div class="panel-body">

          {% if sentChapter %}<br /><span class="alert alert-success form-to-display">The chapter has been inserted correctly</span><br /><br />{% endif %}

          <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="chapterLanguage">Language</label>
              {% render_field formChapter.chapterLanguage id="chapterLanguage" class+="form-control select-form-perso" %}
            </div>	
            <div class="form-group">
              <label for="chapterType">Type</label>
              {% render_field formChapter.chapterType id="chapterType" class+="form-control" %}
            </div>		  
            <div class="form-group">
              <label for="chapter">Chapter</label>
              {% render_field formChapter.nameChapter id="chapter" class+="form-control" placeholder="Enter name of chapter" %}
            </div>
            <div class="form-group">
              <label for="chapterFile">CSV file</label>
              {% render_field formChapter.mFile id="chapterFile" type="file" %}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>
      </div>

      <div id="form4" class="panel panel-default panel-form-perso forms-perso" style="display:none;" >
        <div class="panel-heading">Update chapter</div>
        <div class="panel-body">

          {% if sentChapterUpdate %}<br /><span class="alert alert-success form-to-display">The chapter has been updated correctly</span><br /><br />{% endif %}

          <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="chapterLanguageUpdate">Language</label>
              {% render_field formChapterUpdate.chapterLanguageUpdate id="chapterLanguageUpdate" class+="form-control select-form-perso" %}
            </div>	
            <div class="form-group">
              <label for="chapterTypeUpdate">Type</label>
              {% render_field formChapterUpdate.chapterTypeUpdate id="chapterTypeUpdate" class+="form-control select-form-perso" %}
            </div>		  
            <div class="form-group">
              <label for="chapterUpdate">Chapter</label>
              {% render_field formChapterUpdate.nameChapterUpdate id="chapterUpdate" class+="form-control" %}
            </div>
            <div class="form-group">
              <label for="chapterFileUpdate">CSV file</label>
              {% render_field formChapterUpdate.mFileUpdate id="chapterFileUpdate" type="file" %}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>
      </div>

      <!--div id="output"> &nbsp; </div>
    <div>
      <form onsubmit="return false;">
        Enter :- <br />
        <input type="text" id="word" /> <br />
        <button onclick="callajax()"> Submit </button>
      </form>
      </div-->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!-- jQuery est inclus ! -->
    <script src="/static/js/own-js.js"></script>
  </body>
</html>
